div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

/* BODY COPY */
#maincontent ul{
  font-family: ubuntu, sans-serif;
  font-weight: 400;
}
h1{
  font-family: eurostile, sans-serif;
  font-weight: 800;
}
h2{
  font-family: eurostile, sans-serif;
  font-weight: 700;
  color: #942A1F;
  margin-bottom: -0.5em;
}
h3{
  font-family: eurostile, sans-serif;
  font-weight: 700;
}
h4{
  font-family: ubuntu, san-serif;
  font-weight: 700;
  margin-bottom: -0.5em;
}
h5{
  font-family: ubuntu, san-serif;
  font-weight: 400;
}
p{
  font-family: ubuntu, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
}

/* LAYOUT */

#header {
  position:relative;
}
#header-content {
  width:100%;
}
#header-logo {
  padding:1em;
  background-color: #E6E7E8;
}
#header-nav {
  //padding:1em;
  background-color: #E6E7E8;
}
#header-nav-toggle {
  color:#942A1F;
  font-size:2.25em;
  position:absolute;
  top:.5em;
  right:.5em;
  z-index:1;
  cursor:pointer;
}


/***********/
/* MODULES */
/***********/

/* MAIN */
#mainB {
  width:90%;
  max-width:1000px;
  margin: 0 auto;
}

/* Logo */
.logo {
  width: 120px;
  //margin-left: 0.75em;
}

/* Nav */
.nav {
  display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 1em;
	list-style-type: none;
  margin-top: 0em;
  margin-left: -2.5em;
  font-family: eurostile, sans-serif;
  font-weight: 700;
  letter-spacing: 0.11em;
  //margin-top:0;
  //padding-top:0.75em;
}
.nav li a{
    display: block;
    text-align: center;
    //padding: 1em;
    text-decoration: none;
}
.nav li {
  //width:100%;
  margin:0.5em 0 0 0;
  //display:block;
}
.nav a{
  color: #942A1F;
  text-decoration: none;
  padding: 0.85em 0.85em 0.85em 0.85em;
}
.nav a:hover{
  background-color: #03A0B4;
  color: white;
}
.active {
  background-color: #A9A9A9;
  color: white !important;
}
/* Phone and Address */
.phoneadd{
  list-style-type: none;
  font-family: ubuntu;
  font-weight: 400;
  display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 1em;
  text-align:center;
  margin-left:-2.5em;
  padding-bottom: 0.5em;
}
.phoneadd li{
  padding:0em 0.75em;
}
.phoneadd a{
  color: black;
  text-decoration: none;
}
.phoneadd a:hover{
  color: #03A0B4;
}

/*************/
/* MODIFIERS */
/*************/
.is-hidden {display:none;}
.is-visible {display:block;}

/*****************/
/* MEDIA Q 850px */
/*****************/
@media screen and (min-width:850px) {
  .nav {
    display: flex;
	  justify-content: flex-end;
    margin-left: 0em;
    //margin-top:1em;
    font-size:1.2em;
  }
  .nav li{
    //margin-top: 2em;
  }
  .nav a{
    color: #942A1F;
    text-decoration: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left:-.75em;
    //margin-top: 1.25em;
}
  .phoneadd{
    display:flex;
    justify-content: flex-end;
    margin-left: 0em;
  }
  .phoneadd li{
    margin-right:1em;
  }
/* Header */
#header {
  //padding:1em; /* Turning Padding off made the whole HEADER section height shorter. Did that to show more of the Schedule Now container. I also made the banner img height max at 400px. */
  background-color: #E6E7E8;
}
#header-content {
  max-width:1000px;
  margin:0 auto;
  overflow:hidden;
}
#header-logo {
  //padding:0;
  background:none;
  float:left;
}
#header-nav  {
  //padding:.5em;
  //background: none;
  text-align: right;
  display: block;
  padding-top:1em;
  height: 120px; /* is what WAS cropping the phone and address off, but add 'margin-left:0em' to the phoneadd class */
}
#header-nav-toggle {
  display:none;
  }

/* LOGO */
.logo {
  width: 200px;
  padding-top:0.5em;
}
/* NAV */
.nav li {
  width:auto;
  margin:0 .5em;
  display:inline-block;
  }
}
/* END MEDIA Q 850px */

/* FOOTER */
footer{
  background-color: #2e2e2f;
  //padding: 1em 0em;
  //margin-left: -2em;
}
#foottext {
	max-width: 1000px;
	margin: auto;
	padding: 1em 1em; /* top & bottom x left & right */
}
#foottext .leftcol{
  width: 250px;
}
#foottext h3{
  color: #03a0b4;
  //margin-top: 1.5em;
  margin-bottom: -0.5em;
}
#foottext p{
  color: #e6e7e8;
}

@media screen and (min-width: 800px) {
  #foottext{
    display: flex;
    justify-content: center;
  }
  #foottext .leftcol{
    width: 37%;
    padding:1em 1em 1em 0;
  }
  #foottext .midcol{
    width: 26%;
    padding:1em 1em 1em 1em;
  }
  #foottext .rightcol{
    width: 37%;
    padding:1em 0em 1em 1em;
  }
}
