* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

/* BODY COPY */
#maincontent ul{
  font-family: ubuntu, sans-serif;
  font-weight: 400;
}
h1{
  font-family: eurostile, sans-serif;
  font-weight: 800;
}
h2{
  font-family: eurostile, sans-serif;
  font-weight: 700;
  color: #942A1F;
  margin-bottom: -0.5em;
}
h3{
  font-family: eurostile, sans-serif;
  font-weight: 700;
}
h4{
  font-family: ubuntu, san-serif;
  font-weight: 700;
  margin-bottom: -0.5em;
}
h5{
  font-family: ubuntu, san-serif;
  font-weight: 400;
}
p{
  font-family: ubuntu, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
}

/* LAYOUT */

#header {
  position:relative;
}
#header-content {
  width:100%;
}
#header-logo {
  padding:1em;
  background-color: #E6E7E8;
}
#header-nav {
  background-color: #E6E7E8;
}
#header-nav-toggle {
  color:#942A1F;
  font-size:2.25em;
  position:absolute;
  top:.5em;
  right:.5em;
  z-index:1;
  cursor:pointer;
}



/* MODULES */


/* MAIN */
#mainB {
  width:90%;
  max-width:1000px;
  margin: 0 auto;
}

/* Logo */
.logo {
  width: 120px;
}

/* Nav */
.nav {
  display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 1em;
	list-style-type: none;
  margin-top: 0em;
  margin-left: -2.5em;
  font-family: eurostile, sans-serif;
  font-weight: 700;
  letter-spacing: 0.11em;
}
.nav li a{
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav li {
  margin:0.5em 0 0 0;
}
.nav a{
  color: #942A1F;
  text-decoration: none;
  padding: 0.85em 0.85em 0.85em 0.85em;
}
.nav a:hover{
  background-color: #03A0B4;
  color: white;
}
.active {
  background-color: #A9A9A9;
  color: white !important;
}
/* Phone and Address */
.phoneadd{
  list-style-type: none;
  font-family: ubuntu;
  font-weight: 400;
  display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 1em;
  text-align:center;
  margin-left:-2.5em;
  padding-bottom: 0.5em;
}
.phoneadd li{
  padding:0em 0.75em;
}
.phoneadd a{
  color: black;
  text-decoration: none;
}
.phoneadd a:hover{
  color: #03A0B4;
}


/* MODIFIERS */
.is-hidden {display:none;}
.is-visible {display:block;}


/* MEDIA Q 850px */
@media screen and (min-width:850px) {
  .nav {
    display: flex;
	  justify-content: flex-end;
    margin-left: 0em;
    font-size:1.2em;
  }
  .nav li{
    //margin-top: 2em;
  }
  .nav a{
    color: #942A1F;
    text-decoration: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left:-.75em;
  }
  .phoneadd{
    display:flex;
    justify-content: flex-end;
    margin-left: 0em;
  }
  .phoneadd li{
    margin-right:1em;
  }
/* Header */
#header {
  //padding:1em; /* Turning Padding off made the whole HEADER section height shorter. Did that to show more of the Schedule Now container. I also made the banner img height max at 400px. */
  background-color: #E6E7E8;
}
#header-content {
  max-width:1000px;
  margin:0 auto;
  overflow:hidden;
}
#header-logo {
  background:none;
  float:left;
}
#header-nav  {
  text-align: right;
  display: block;
  padding-top:1em;
  height: 120px; /* is what WAS cropping the phone and address off, but add 'margin-left:0em' to the phoneadd class */
}
#header-nav-toggle {
  display:none;
  }

/* LOGO */
.logo {
  width: 200px;
  padding-top:0.5em;
}
/* NAV */
.nav li {
  width:auto;
  margin:0 .5em;
  display:inline-block;
  }
}
/* END MEDIA Q 850px */

/* OPEN IMG */
#openimg{
  position: relative;
  overflow: hidden;
  text-align: center;
  max-width:1000px;
  max-height:400px;
  display: block;
	margin: 0 auto;
  margin-bottom:-.25em;
}
.bannerimg{
  width: 100%;
}
#banneroverlay{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  //overflow-y: auto;
}
.overlaytext{
  color: white;
  font-size: 0.75em;
  font-style: italic;
  line-height: 1.2em;
  width: 50%;
  padding: 0.5em 0.75em;
  background-color: rgba(46,46,47,0.8);
}
.openbanner{
  max-width: 1000px;
  margin: auto;
}
@media screen and (min-width:350px) {
  .overlaytext{
    font-size:0.9em;
    line-height: 1.4em;
  }
}
@media screen and (min-width:450px) {
  .overlaytext{
    font-size:1em;
    width: 45%;
  }
}
@media screen and (min-width:600px) {
  .overlaytext{
    font-size:1.3em;
    line-height: 1.4em;
    width: 40%;
  }
}

/* MAIN DOWN */
/* SCHEDULE BUTTON */
#schedulecontainer{
  background-color: #942A1F;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
#schedulecontainer h1{
  text-align: center;
  margin-top:1em;
  margin-bottom:-0.25em;
  padding: 0 0.5em;
}
#schedulecontainer p{
  text-align: center;
  margin-bottom:-0.25em;
  padding: 0 1em;
}
.buttonc{
	background-color: #e6e7e8;
	font-size: 1.2em;
	padding: 1em 1.2em;
	display: inline-block;
	margin: 1.5em 1.5em 1.5em 1.5em;
	color: #03A0B4;
	text-decoration: none;
	border-radius: 10px;
  box-shadow: -4px 4px 4px #3c3c3c;
	transition: .3s background-color ease-in-out;
}
.buttonc:hover{
  background-color: #03A0B4; /* #94989c */
  color: white;
}
.text2{
  transition: .3s color ease-in-out;
  font-size:1.25em;
  font-family: ubuntu, san-serif;
  font-weight: 700;
}
.bodylist{
  color: #03A0B4;
  font-family: ubuntu, sans-serif;
  font-weight: 400;
  list-style-type: circle;
}
.content{
  margin-bottom:2em;
}
.cert1{
  max-width: 125px;
  display: block;
	margin: 0 auto;
}
.cert2{
  max-height: 125px;
  display: block;
	margin: 0 auto;
}
.certimgs{
  max-width: 250px;
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
  margin: 0 auto;
  margin-top:2em;
  margin-bottom:4em;
}
@media screen and (min-width:750px) {
  #schedulecontainer{
    float: right;
    width: 400px;
    margin-left: 1.5em;
    margin-bottom: 1em;
    border-radius: 10px;
  }
  .buttonc{
    font-size:1.5em;
    padding:0.5em 1em;
  }
  #main{
  max-width:1000px;
  margin: 0 auto;
  }
}
@media screen and (min-width:1000px) {
  #mainB{
    width: 100%;
  }
}


/* OFFERS + COUPONS */
#main2{
  width:90%;
  max-width:1000px;
  margin: 0 auto;
}
.offerstitle{
  margin-bottom:0.5em;
}
.view{
  margin-top:-1em;
  margin-bottom:2em;
}
.viewmore{
  text-decoration: none;
  color: #03A0B4;
}
.viewmore:hover{
  color: #942A1F;
}
.details{
  font-size:0.75em;
}
#offers{
  max-width: 1000px;
	margin: auto;
  display: flex;
  justify-content: center;
}
#offers ul{
  list-style-type: none;
  margin-left:-2.5em;
}
.offers_text li{
  margin-bottom: 1em;
}
#off_contain{
  position: relative;
  overflow: hidden;
  border: 2px solid;
  padding-left:1em;
  padding-right:1em;
  border-radius: 10px;
  max-width: 350px;
  min-height: 250px;
  background-color: #E6E7E8;
}
.offtext{
  position: relative;
  z-index:100;
}
.imgback{
  visibility: hidden;
}
@media screen and (min-width:350px){
  .imgback{
    visibility: visible;
  }
}
.imgback img{
  position: absolute;
  width:65%;
  top:33%;
  left:35%;
  transform: scalex(-1);
}
@media screen and (min-width:700px){
  .offers_text{
    display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
  }
  .imgback img{
  position: absolute;
  width:65%;
  top:30%;
  left:35%;
  transform: scalex(-1);
  }
}
@media screen and (min-width:1000px){
  .offers_text{
    display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
  }
  .imgback img{
  position: absolute;
  width:65%;
  top:35%;
  left:35%;
  transform: scalex(-1);
  }
}
.buttonpro{
  background-color: #03A0B4;
	font-size: 1em;
	padding: 1em 1em;
	display: inline-block;
	color: #E6E7E8;
	text-decoration: none;
	border-radius: 10px;
  box-shadow: -4px 4px 4px #777777;
	transition: .3s background-color ease-in-out;
}
.buttonpro:hover{
	background-color: #014a53;
}


/* FOOTER */
footer{
  background-color: #2e2e2f;
  //padding: 1em 0em;
  //margin-left: -2em;
}
#foottext {
	max-width: 1000px;
	margin: auto;
	padding: 1em 1em; /* top & bottom x left & right */
}
#foottext .leftcol{
  width: 250px;
}
#foottext h3{
  color: #03a0b4;
  //margin-top: 1.5em;
  margin-bottom: -0.5em;
}
#foottext p{
  color: #e6e7e8;
}

@media screen and (min-width: 800px) {
  #foottext{
    display: flex;
    justify-content: center;
  }
  #foottext .leftcol{
    width: 37%;
    padding:1em 1em 1em 0;
  }
  #foottext .midcol{
    width: 26%;
    padding:1em 1em 1em 1em;
  }
  #foottext .rightcol{
    width: 37%;
    padding:1em 0em 1em 1em;
  }
}
